/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.intro {
  background: repeating-linear-gradient(
    -55deg,
    #62D5D9,
    #62D5D9 5px,
    #67DEE3 5px,
    #67DEE3 10px
  );
  height: 70vh;
  width:100%;
}

.logo {
  background-image: url('../assets/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height:70%;
  width:100%;
}

.intro > .subText{
  color: #FCFCFC;
  text-align: center;
}

.ptFind-page {
  width: 500px;
  padding: 3% 0 0;
  margin: auto;
}

.defForm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.videoTable{
  padding: 3% 0 0;
}
