{% extends 'geri_app/base.html' %}

{% load static %}

{% block content %}
  {% csrf_token %}

<p>Patient First Name: {{pt_name_first}}</p>
<p>Patient Last Name: {{pt_name_last}}</p>
<p>First Family Member Name: {{family_member_name}}</p>
<p>Family Member Email: {{family_email}}</p>
<p>Relation to Patient: {{family_relation}}</p>
<p>Patient Room Number: {{pt_room}}</p>
<p>Patient Hospital: {{pt_hospital}}</p>

<p>Is the above information correct?</p>
<button type="submit" class="btn btn-default" onclick="{% url 'patient_upload_verify' %}">Yup!</button>


{% endblock %}