{% extends 'geri_app/base.html' %}

{% load static %}

{% block content %}

  <link href="{% static "geri_app/css/main.css" %}" rel="stylesheet">

         <!-- Upload form. Note enctype attribute! -->
       <form action="{% url "video_upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p><label for="id_docfile">Upload a Video!</label></p>


            Your Name:<br>
            <p>
                <input id="id_upload" name="uploader" type="text" required />
            </p>
            <p>
                <input id="id_docfile" name="docfile" type="file" class="inputfile" required />
            </p>

            <input type="hidden" name="code" value="{{benefactor.verification_code}}">

            <br>
            <br>
            <br>
            <br>

            <!-- <input type="file" name="video" accept="video/*;capture=camcorder"> -->



            <p><input type="submit" value="Upload"/></p>

        </form>

      
{% endblock %}