{% extends 'geri_app/base.html' %}

{% load static %}

{% block content %}

  <link href="{% static "geri_app/css/main.css" %}" rel="stylesheet">


<p>Step 1. Choose one below!</p>
         <!-- Upload form. Note enctype attribute! -->
       <form action="{% url "video_upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p>{{ form.non_field_errors }}</p>

            <p><label for="id_docfile">Upload a Video!</label></p>

            <p>
                <input id="id_docfile" name="docfile" type="file" class="inputfile" required />
            </p>

            <input type="hidden" name="code" value="{{benefactor.verification_code}}">

            <br>
            <br>
            <br>
            <br>

            <!-- <input type="file" name="video" accept="video/*;capture=camcorder"> -->



            <p><input type="submit" value="Upload"/></p>

        </form>

      
{% endblock %}