{% extends 'geri_app/base.html' %}

{% load static %}

{% block content %}
  {% csrf_token %}

 {% comment %}

 active_patients dict structure:

 videos:  {1: {'data': <QuerySet [<MediaDocument: MediaDocument object>, <MediaDocument: MediaDocument object>, <MediaDocument: MediaDocument object>, <MediaDocument: MediaDocument object>, <MediaDocument: MediaDocument object>, <MediaDocument: MediaDocument object>, <MediaDocument: MediaDocument object>]>, 'pt_info': <Benefactor: Benefactor object>, 'has_video': True}, 2: {'data': <QuerySet []>, 'pt_info': <Benefactor: Benefactor object>, 'has_video': False}, 3: {'data': <QuerySet []>, 'pt_info': <Benefactor: Benefactor object>, 'has_video': False}, 4: {'data': <QuerySet []>, 'pt_info': <Benefactor: Benefactor object>, 'has_video': False}}


 {% endcomment %}
<div class="container videoTable">
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Hospital</th>
        <th>Room Number</th>
        <th>Has Video</th>
      </tr>
    </thead>

<tbody>
{% for id, pt in active_patients.items %}
<tr>
<th>{{pt.pt_info.first_name}} {{pt.pt_info.last_name}}</th>
<th> {{pt.pt_info.hospital_name}}</th>
<th> {{pt.pt_info.room_number}}</th>
<th> {{pt.has_video}}</th>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
